@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
--purple_grad: linear-gradient(
    -63deg,
    #FD4677 -0%,
    #8953DF -76.47%,
    #6557FF 100%
  );
}

.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  background: rgba(255, 255, 255, 0.2);
  scale: 0.9 !important;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: white !important;
  scale: 1 !important ;
}